body {
    background: #000;
}

.btn-brand {
    background: #17ff3e;
    border-color: #17ff3e;
    text-shadow: 1px 1px 0px #111111;
    color: #ffffff;
}

.btn {
    border-radius: 2rem;
    padding: .375rem 2.75rem;
    font-weight: bold;    
}

.navbar-brand {
    letter-spacing: .4em;
}

.nav-link {
    font-weight: 400;
    font-size: 1.3em;
}


.bl-cyan {
    border-left: 2px solid #64f8ff;
}

.pt-10 {
    padding-top: 10rem;
}
